<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.SystemDao">
    <select id="getSystemConfig" resultType="Map">
        SELECT * FROM system_config
    </select>

    <select id="countUserByUsername" parameterType="map" resultType="int">
        SELECT
          COUNT(*)
        FROM
          user
        WHERE
          username = #{username}
    </select>

    <select id="countUserByPassword" parameterType="map" resultType="int">
        SELECT
          COUNT(*)
        FROM
          user
        WHERE
          password = #{password}
        AND
          username = #{username}
    </select>
</mapper>